$errorcolor: #C63D0F;


.assertive{
	white-space: normal;
}

.valdr-message {
    display: none;
}

.ng-submitted {
	.row + .valdr-message {
		padding: 10px 10px 10px 20px;
	}
	.valdr-message.ng-invalid {
	    display: inline;
	    color: $errorcolor;
	    white-space: normal;
    }
    .valdr-message.ng-invalid {display:block;}
}

form {
	.phone-error-messages {
		display: none;
		color: $errorcolor;
	}
	&.ng-invalid.ng-submitted {
		.phone-error-messages {
			display: block;
		}
	}
}

form {
	.form-field-error {
		white-space:normal;
		color: $errorcolor;
	}
}