$errorcolor: #FF0000;

.valdr-message {
  display: none;
}

.valdr-message.ng-invalid.ng-dirty.ng-touched, .form-submitted .valdr-message.ng-invalid {
  display: inline;
  color: $errorcolor;
}

input.ng-invalid.ng-dirty.ng-touched, .form-submitted input.ng-invalid {
  color: $errorcolor;
}

.valdr-invalid-dirty-touched-group label, .form-submitted .form-group.ng-invalid label {
}