/.sass-cache
/bower_components
/node_modules
/public_html/css/bootstrap.css
/public_html/css/css.css
/public_html/css/css.css.map
/public_html/js/angular.js
/public_html/js/angular-translate.js
/public_html/js/valdr.js
/public_html/js/valdr-message.js
