/.sass-cache
/bower_components
/node_modules
/build
/public_html/css/bootstrap.css
/public_html/css/css.css
/public_html/css/css.css.map
/public_html/js/angular.min.js
/public_html/js/angular-translate.min.js
/public_html/js/valdr.min.js
/public_html/js/valdr-message.min.js
